body {
    background-color: #D3D3D3;
    margin: 0;
    padding: 0;
}

#menu {
    background-color: #555555;
    margin: 0;
    padding: 0;
    height: 2.25em;
}

#menu-right {
    float: right;
}

#menu a {
    color: #FFFFFF;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1.5em;
    text-decoration: none;
}

#menu a:hover {
    background-color: #000000;
}

#intro {
    overflow: auto;
    display: block;
}

#intro-left {
    float: left;
    width: 80%;
    margin-left: 0.75em;
}

#intro-right {
    float: right;
    width: auto;
}

#intro-h {
    font-size: 2em;
}

#intro-p {
    font-size: 1.15em;
}

#intro-p a {
    font-size: 1.15em;
}

#intro-image {
    margin: 0.75em;
}

h1 {
    font-size: 1.75em;
    color: #C46210;
}

p {
    font-size: 0.75em;
    color: #555555;
}
