#menu {
    background-color: #555555;
    margin: 0px;
}

#menu a {
    color: #FFFFFF;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 2em;
    text-decoration: none;
}
